.communication-body {
    width: 90vw;
    margin: 0 auto;
}

.switch-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.switch-buttons button {
    padding: 22px 80px;
    border-radius: 5px;
    border: none;
    background-color: #414850;
    color: white;
    cursor: pointer;
}

.switch-buttons button:hover {
    background-color: #2E353D;
    transition: all .3s;
}

@media screen and (max-width: 570px) {
    .switch-buttons button {
        padding: 10px 50px;
    }
}