.auth {
    max-width: 500px;
    padding: 70px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.65);

    width: 400px;
}

.auth > form {
    display: grid;
    flex-direction: column;
}

.auth > form > h1 {
    text-align: left;
    margin-bottom: 20px;
}

.auth > form > input {
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    padding: 5px 15px;
    border-radius: 5px;
}

.auth > form > h4 {
    text-align: left;
    margin-top: 25px;
    font-weight: 400;
}

.auth > form > button {
    padding: 16px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #055F85;
    color: white;
    margin-top: 17px;
    cursor: pointer;
}

.auth-gray {
    color: gray;
}

.auth-link:hover {
    cursor: pointer;
    text-decoration: underline;
}