.auth {
    position: relative;
    height: 100vh;
    background: url("https://cdn.cnn.com/cnnnext/dam/assets/141222133223-sixties-background-full-169.png") center no-repeat;
    background-size: cover;

}

.auth-background {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7)
}

.auth-logo {
    position: fixed;
    left: 20px;
    top: 25px;

    color: whitesmoke;
    width: 110px;
    height: 30px;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;

}

.auth-body {
    z-index: 1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.auth-body > h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.auth-body > h2 {
    font-weight: 400;
    font-size: 1.5rem;
}

.auth-body > h3 {
    margin-top: 12px;
    font-weight: 300;
    font-size: 1.1rem;
}

.login-form {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .auth-body > h1 {
        font-size: 1.7rem;
    }
    .auth-body > h2 {
        font-size: 1.1rem;
    }

    .auth-body > h3 {
        font-size: 0.7rem;
    }

    .login-form > input {
        flex: 1;
    }

    .login-getStarted {
        width: 100%;
    }

}


.login-input > .login-form > input {
    padding: 9px;
    outline-width: 0;
    height: 50px;
    width: 50%;
    border: none;
    max-width: 600px;
}

.login-getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #055F85;
    border: none;
    font-weight: 500;
    cursor: pointer;
}