.header {
    width: 100%;
    background-color: #2E353D;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
}
.header-container {
    height: 60px;
    width: 80vw;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
   padding: 0 15px;
}

.header-logo {
    width: 110px;
    height: 30px;
    font-size: 24px;
    font-weight: 300;
}

.header-logo:hover {
    color: #99abb6;
    transition: all .3s;
}

.header-search {
    min-width: 335px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: 11px 12px 11px 9px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #444b54;
    line-height: 0;
    margin-left: 15px;
    outline-width: 0;
}

.header-logout {
    background-color: white;
    color: black;
    padding:5px 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.header-avatar {
    width: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.header-icons {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-between;
}

.icon-star, .icon-friends {
    height: 25px;
    width: 25px;
    color: #99abb6;
    transition: all .3s;
}

.icon-star:hover, .icon-friends:hover {
    color: white;
    cursor: pointer;
}
