.backside-movie {
    position: absolute;
    top: -3%;
    left: -4%;
    background-color: #444b54;
    width: 110%;
    height: 99%;
    border-radius:5px;
    color: #FFFFFF;

    padding: 8px 20px;
}

.backside-title {
    font-weight: 400;
}

.backside-genres {
    margin-top: 10px;
    font-size: 14px;
}

.backside-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backside-summary {
    font-size: 14px;
    color: #99abb6;
}

.backside-summary b {
    color: white;
}

.backside-bottom {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
