.header {
    width: 100%;
    background-color: #2E353D;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
}
.header-container {
    height: 60px;
    width: 80vw;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'IBM Plex Mono', monospace;
    color: #FFFFFF;
    padding: 0 15px;
}

.header-logo {
    width: 110px;
    height: 30px;
    font-size: 24px;
    font-weight: 300;
    cursor: pointer;
}

