.movie {
    width: 210px;
    position: relative;
}

.movie-name {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
    max-height: 22px;
    color: #919FA4;
}

.backside-movie {
    display: none;
}

.movie:hover .backside-movie {
    display: block;
}